body {
    background-color: #43e8d8;
    color: white;
    font-family: 'Saira', 'sans-serif';
}

header {
    text-align: center;
}
.wrapper {
    margin-top: 5%;
    position: relative;
    text-align: center;
}

.btn {
    padding: 1em 2.5em 1em 2.5em;
    border-radius: 1em;
    background-color: white;
}
